

<ion-content padding class="getstart">
   
    <ion-grid>  
        <ion-row class="roww" >   
            <ion-col class="coll" width="100%" style="margin-top: 30px">
               
            </ion-col>  
        </ion-row> 
        <ion-row class="roww" >   
          <ion-col class="coll" width="100%" style="margin-top: 40px">
              <ion-label class="bienvenido">BIENVENIDO</ion-label>
          </ion-col>  
        </ion-row> 
      </ion-grid>
      
      <ion-grid class="Rectangle">

          

          <ion-row class="roww" width="100%" style="margin-top: 30.3px;">
              <ion-col class="coll">
                  <ion-label class="Tienes-problemas-pa">¿Tienes problemas para iniciar sesión?</ion-label>
              </ion-col>
            </ion-row>

          <ion-row class="roww" width="100%" style="margin-top: 8.6px;">
              <ion-col class="coll">
                  <ion-label class="Ingresa-nombre-de-us">Ingresa nombre de usuario y te 
                      enviaremos un email para recuperar el
                      acceso a tu cuenta</ion-label>
              </ion-col>
            </ion-row>

          <ion-row width="100%">
            <ion-col align-self: center size-md="10" size-lg="10" size-xs="10"> 
                <ion-item color="#28abb9" class="item" lines="none"> 
              
                    <ion-label class="mynamemailcom" position="floating">Nombre de Usuario</ion-label>
                      <ion-input  class="inputmynamemailcom" [(ngModel)]="username"  required></ion-input>
                  
              </ion-item>
            </ion-col>
            <ion-col align-self: center size-md="1" size-lg="1" size-xs="1"> 
  
                    <img src="../assets/icon/user.svg" class="icon-contrasena">
                 
  
            </ion-col>
  
          </ion-row>

          
    
  
            <ion-row class="roww" width="100%" style="margin-top: 30px;">
                <ion-col class="coll">
                  <ion-button color="ion-color-botton-ingresar" (click)="enviar()" class="BotonLogin">ENVIAR</ion-button>
                </ion-col>
              </ion-row>
  
  
        </ion-grid>
  
        <ion-grid>  
            <ion-row class="roww" >   
              <ion-col class="coll" width="100%" style="margin-top: 20px">
                  <ion-label class="Recuperarcontrasea" (click)="volverLogin()" >Volver al Inicio de Sesión</ion-label>  
              </ion-col>  
            </ion-row> 
          </ion-grid>

</ion-content>
